.nav-item{
    padding: 0 18px;
}

.container-fluid{
    padding: 0% 0%;
}

#logo{
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 20px;
}

#deletar{
    margin-left: 1550px;
}

#anuncio{
    padding: 30px;
}

body{
    background-color: #E7E9EB;
}

.botaoAnunciar {
	margin-bottom: 0px;
	margin-left: 550px;
	width: 120px;
	height: 40px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	background-color: #FF4033;
	color: rgb(255, 255, 255);
	border-radius: 30px;
	line-height: 21px;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	user-select: none;
	border: 1px solid transparent;
}